/CancellationReportRow.class
/Message.class
/MessageType.class
/OccupancyReportRow.class
/Order.class
/ParameterRequest.class
/PasswordHash.class
/TotalVisitorsReportRow.class
/Subscriber.class
/Workers.class
